/* 
    Document   : menustyle
    Created on : Oct 21, 2010, 11:28:20 PM
    Author     : sian
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#menucontainer
{
    overflow: hidden;
    background-color: #6f75b4;
    width: 950px;
}

#nav
{
    margin: 0;
    padding: 0;
}

#nav li
{
    list-style: none;
    float: left; /* arrange top level items horizontally */
}

#nav a
{
    display: block;
    padding: 10px 23px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}

#nav li a:hover
{
    background: #2e3692;
}

#nav li ul
{
    position: absolute;
    margin: 0;
    padding: 0;
}

#nav li ul li
{
    float: none; /* arrange submenus vertically */
    border-top: solid 1px #101982;
}

#nav li ul li a
{
    background: #2e3692;
}

#nav li ul li a:hover
{
    background: #6f75b4;
}
